/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

h1 {
    font-family: 'Protest Riot', sans-serif;
    text-align: center;
    font-size: 250%;
}

h2 {
    font-family: sans-serif;
    text-align: center;
}

/* Big-box area */
#big-box {
    background-color: #FF01A3;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    padding: 30px;
    margin: 100px auto 0;
    font-family: sans-serif;
}

/* Answer buttons */
.btn {
    background-color: #FBC004;
    color: #000000;
    font-weight: 500;
    width: 100%;
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

/* Next button */
#next-btn {
    background: #000000;
    color: #FF01A3;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
}