/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

h1 {
    font-family: 'Protest Riot', sans-serif;
    text-align: center;
    font-size: 250%;
}

h2 {
    font-family: sans-serif;
    text-align: center;
    font-family: sans-serif;
    text-align: center;
    font-size: 100%;
    line-height: 1.5;
    padding: 10px 0;
}

/* Info area */

#info-container {
    background-color: #FBC004;
    height: 50px;
    width: 100%;
}

.popup {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Wrapper area */
#wrapper {
    background-color: #FF01A3;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    padding: 30px 20px;
    margin: 50px auto 0;
    font-family: sans-serif;
}

/* Quiz area */
.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

/* Answer buttons */
.btn {
    background-color: #FBC004;
    color: #000000;
    font-weight: 600;
    width: 100%;
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

/* Next button */
#next-btn {
    background: #000000;
    color: #FF01A3;
    font-weight: 800;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 120%;
}

/* Correct or Incorrect answer color button */

.correct {
    background-color: #75F94D;
}

.incorrect {
    background-color: #ED1C24;
}

/* Confetti animation */
@keyframes confetti-fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

/* Confetti style */
.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f39c12;
    /* Anpassa färgen efter ditt tema */
    animation: confetti-fall 3s ease infinite;
}

/* Media query; tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 400%;
    }

    h2 {
        font-size: 150%;
    }

    .btn {
        font-size: 130%;
    }

    #next-btn {
        font-size: 130%;
    }

    /* Wrapper area */
    #wrapper {
        margin: 150px auto 0;
    }

}